.Session__modal {
  min-width: 90%;
}
.Session__modal__title {
  text-align: center;
}
.Session__modal__icon {
  /* FIXME: ゴリ押し */
  width: 100px !important;
  height: 100px !important;
}
.Session__modal__icon--correct {
  /* FIXME: SCSS(変数)化 */
  color: green !important;
}
.Session__modal__icon--wrong {
  /* FIXME: SCSS(変数)化 */
  color: red !important;
}
.Session__score__question {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.Session__score__avatar {
  width: 40px !important;
  height: 40px !important;
}
